.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}

/*Navbar styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 0px;
    

}
.nav-title{
    font-size: 34px;
    font-weight: bold;
}
/*shared-styles*/
.blue-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-size: 12px;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    
}
/*div-styles*/
.banner{
    text-align: center;
    align-items: center;
    padding: 0;
    padding-bottom: 60px;

    

}
.banner-heading{
    font-size: 110px bold;
    color: #252432;
    margin-bottom: 20px;
    
}
.header{
    background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1441;
    height: 698;

}
/*Action styles*/
.action-title{
    font-size: 45px bold;

}
.action{
    display: flex;

    padding: 50px 80px;
    align-items: center;
    justify-content: center;
    
}
.action-picture{
    width: 150px;
    height: 150px;
    border-radius: 10px;


}
.action-content{
    width: 400px;
    height: 150px;
    

    
}
/*main styles*/

main{
    max-width: 1180px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*users section*/
.users-numbers{
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}
.join-section{
    justify-content: center;
}
 .bg-colour{
    background-color: #726f93;
    border-radius: 10px;
    align-items: center;
    align-content: center;


    }
    .join-section-title{
        text-align: center;
        font-size: 50px bold;
        padding-top: 10px;
        

    }
    .exact-number{
        font-size: 45px;
        font-family: none;
    }
    .number-title{
        font: 400px;
        padding: 0;
        gap: 0;
    }
    .join-section{
        align-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    .review-container{
        display: flex;
        justify-content: space-around;
        gap: 24px;
        padding: 20px;
        box-shadow: #252432;
    }
.section-title{
            
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 50px;
    
        }